body {
    height: auto;
    font-family: "Public Sans Web",sans-serif;
    min-height: 100vh;
    margin: 0;

}

.logo  {
    display: flex;
    font-size: large;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #F8FAFC;
    
    bottom: 0;
}

.nav {
    background-color: #102A43;
    padding: 10px;
    box-shadow: 0px 8px 10px rgb(0, 0, 0);
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.nav ul li {
    margin: 0 15px;
    border-radius: 10px;
    padding: 5px;
    width: 95px;
    height: 25px;
    box-shadow: 0px 4px 5px rgb(255, 255, 255);
    border: #ffffff solid 1px;
}

.nav ul div li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav ul li a {
    color: #F8FAFC;
    text-decoration: none;
    font-size: 18px;
}
.nav ul li a:hover {
    color: #FACC15;
}

.links {
    display: flex;
    align-items: center;
}

.titulo {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8FAFC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.bra {
    color: rgb(12, 8, 249);
}

.enca {
    color: rgb(21, 222, 21);
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.057);
    flex-direction: column;
    display: flex;
    color: #000000;
    background-color: #ffffff;
    bottom: 0;
    height: auto;
    font-weight: 500;
    color: #444;
    font-size: 14px;
}

.contato {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.074);
}

.social {
    display: flex;
    display: flex;
    text-align: center;
    gap: 20px;


}

.telefone {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: start;
    gap: 20px;
}


.footer_name {
    display: flex;
    text-align: start;
    align-items: start;
    justify-content: center;
    flex-direction:column;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 40px;
    gap: 8px;
}
.footer_name a {
    text-decoration: none;
    color: #444;
}

.footer_name li {
    padding: 8px 0;
}

.footer_name ul {
    margin: 0;
    padding: 0;
    list-style:none ;
}

.footer_name p {
    margin: 0;
}


.card {
    background-color: #102A43;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 4px 5px rgb(255, 255, 255);
    border: #ffffff solid 5px;
    width: 300px;
    height: 250px;
    overflow: hidden;
    padding: 0;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}